<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.alarm.dao.IAlarmRepository">
	
	<!-- 읽지 않은 알림 수 -->
	<select id="selectAlarmCount" parameterType="alarm" resultType="int">
		SELECT COUNT(ALARM_NO)
		FROM SR_ALARM sa, SR s,SR_STTS st, HR h
		WHERE sa.SR_NO = s.SR_NO(+)
		AND s.STTS_NO = st.STTS_NO(+)
		AND s.SR_NO = h.SR_NO(+)
		<if test="userType.equals('고객사')">
			AND sa.SR_NO like #{sysNo}
			AND sa.USER_NO = #{userNo}
			AND s.STTS_NO != 8
			AND s.STTS_NO != 10
		</if>
		<if test="userType.equals('관리자')">
			AND sa.SR_NO like #{sysNo}
			AND s.STTS_NO != 2
			AND s.STTS_NO != 3
			AND s.STTS_NO != 4
			AND s.STTS_NO != 5
			AND s.STTS_NO != 6
			AND s.STTS_NO != 7
		</if>
		<if test="userType.equals('개발자')">
			AND s.STTS_NO != 1
			AND s.STTS_NO != 2
			AND s.STTS_NO != 3
			AND s.STTS_NO != 4
			AND s.STTS_NO != 7
			AND s.STTS_NO != 8
			AND s.STTS_NO != 9
			AND h.USER_NO = #{userNo}
			AND 
			   ( CASE 
			        WHEN s.STTS_NO = 5 THEN 'SR 요청이 개발중 입니다.'
			        WHEN s.STTS_NO = 6 THEN 'SR 요청이 개발완료 되었습니다.'
			        WHEN s.STTS_NO = 10 THEN 'SR 요청에 대한 계획 조정 요청 입니다.'
			    END) = sa.MESSAGE
		</if>
		AND MESSAGE_CHECK = 'N'
		AND s.SR_DEL_YN = 'N'
	</select>
	
	<!-- 전체 알림 리스트 -->
	<select id="selectAlarmList" parameterType="alarm" resultType="alarm">
		SELECT 
		    sa.ALARM_NO AS "alarmNo",
		    sa.USER_NO AS "userNo",
		    sa.MESSAGE AS "message",
		    sa.MESSAGE_CHECK AS "messageCheck",
		    sa.MESSAGE_DATE AS "messageDate",
		    sa.ALARM_PRY AS "alarmPry",
		    sa.ALARM_TTL AS "alarmTtl",
		    sa.ALARM_CATEGORY AS "alarmCategory",
		    sa.SR_NO AS "srNo",
		    st.STTS_NM AS "sttsNM"
		FROM SR_ALARM sa, SR s,SR_STTS st, HR h
		WHERE sa.SR_NO = s.SR_NO(+)
		AND s.STTS_NO = st.STTS_NO(+)
		AND s.SR_NO = h.SR_NO(+)
		<if test="userType.equals('고객사')">
			AND sa.SR_NO like #{sysNo}
			AND sa.USER_NO = #{userNo}
			AND s.STTS_NO != 8
			AND s.STTS_NO != 10
		</if>
		<if test="userType.equals('관리자')">
			AND sa.SR_NO like #{sysNo}
			AND s.STTS_NO != 2
			AND s.STTS_NO != 3
			AND s.STTS_NO != 4
			AND s.STTS_NO != 5
			AND s.STTS_NO != 6
			AND s.STTS_NO != 7
		</if>
		<if test="userType.equals('개발자')">
			AND s.STTS_NO != 1
			AND s.STTS_NO != 2
			AND s.STTS_NO != 3
			AND s.STTS_NO != 4
			AND s.STTS_NO != 7
			AND s.STTS_NO != 8
			AND s.STTS_NO != 9
			AND h.USER_NO = #{userNo}
			AND 
			   ( CASE 
			        WHEN s.STTS_NO = 5 THEN 'SR 요청이 개발중 입니다.'
			        WHEN s.STTS_NO = 6 THEN 'SR 요청이 개발완료 되었습니다.'
			        WHEN s.STTS_NO = 10 THEN 'SR 요청에 대한 계획 조정 요청 입니다.'
			    END) = sa.MESSAGE
		</if>
		AND s.SR_DEL_YN = 'N'
		ORDER BY MESSAGE_CHECK, DECODE(s.STTS_NO, 1, 8, 10, 2, 3, 4, 5, 6, 7, 9) ASC, MESSAGE_DATE DESC
	</select>
	
	<!-- 카테고리 알림 리스트 -->
	<select id="selectCategoryAlarm" parameterType="alarm" resultType="alarm">
		SELECT 
		    sa.ALARM_NO AS "alarmNo",
		    sa.USER_NO AS "userNo",
		    sa.MESSAGE AS "message",
		    sa.MESSAGE_CHECK AS "messageCheck",
		    sa.MESSAGE_DATE AS "messageDate",
		    sa.ALARM_PRY AS "alarmPry",
		    sa.ALARM_TTL AS "alarmTtl",
		    sa.ALARM_CATEGORY AS "alarmCategory",
		    sa.SR_NO AS "srNo",
		    st.STTS_NM AS "sttsNM"
		FROM SR_ALARM sa, SR s,SR_STTS st, HR h
		WHERE sa.SR_NO = s.SR_NO(+)
		AND s.STTS_NO = st.STTS_NO(+)
		AND s.SR_NO = h.SR_NO(+)
		<if test="userType.equals('고객사')">
			AND sa.SR_NO like #{sysNo}
			AND sa.USER_NO = #{userNo}
			AND sa.ALARM_CATEGORY = #{alarmCategory}
		</if>
		<if test="userType.equals('관리자')">
			AND sa.SR_NO like #{sysNo}
			AND sa.ALARM_CATEGORY = #{alarmCategory}
		</if>
		<if test="userType.equals('개발자')">
			AND s.STTS_NO != 1
			AND s.STTS_NO != 2
			AND s.STTS_NO != 3
			AND s.STTS_NO != 4
			AND s.STTS_NO != 7
			AND s.STTS_NO != 8
			AND s.STTS_NO != 9
			AND h.USER_NO = #{userNo}
			AND sa.ALARM_CATEGORY = #{alarmCategory}
		</if>
		AND s.SR_DEL_YN = 'N'
		ORDER BY MESSAGE_CHECK, DECODE(s.STTS_NO, 1, 8, 10, 2, 3, 4, 5, 6, 7, 9) ASC, MESSAGE_DATE DESC
		
		
	</select>
	
	
	<!-- 해당 SR 고객사 찾기 -->
	<select id="selectAlarm" parameterType="String" resultType="alarm">
		SELECT
			s.SR_NO AS "srNo",
			s.SR_CUST_NO AS "userNo",
			st.STTS_NM AS "sttsNm",
			s.SR_TTL AS "srTtl"
		FROM SR s, SR_STTS st
		WHERE s.STTS_NO = st.STTS_NO
		AND s.SR_NO = #{srNo}
	</select>
	
	<insert id="insertAlarm" parameterType="alarm">

		INSERT INTO SR_ALARM( ALARM_NO, USER_NO, MESSAGE, MESSAGE_CHECK, MESSAGE_DATE, ALARM_PRY, ALARM_TTL, SR_NO, ALARM_CATEGORY)
		VALUES(alarmno_seq.nextval,#{userNo}, #{message},'N',sysdate, #{alarmPry} , #{srTtl}, #{srNo}, #{alarmCategory})

	</insert>
	
	<!-- 알림 체크 -->
	<update id="updateAlarmCheck" parameterType="int">
		UPDATE SR_ALARM 
		SET MESSAGE_CHECK = 'Y'
		WHERE ALARM_NO = #{alarmNo}
	</update>
	
	<!-- 알릭 삭제 -->
	<delete id="deleteAlarm" parameterType="int">
		DELETE FROM SR_ALARM
		WHERE ALARM_NO = #{alarmNo}
	</delete>
	
	<!-- 로그인한 유저 정보 가져오기 -->
	<select id="selectLoginUser" parameterType="int" resultType="users">
		SELECT 
		    SYS_NM AS "sysNm",
    		sys.SYS_NO AS "sysNo"
		FROM USERS u, SYSTEM sys
		WHERE u.USER_NO = sys.MANAGER_NO
		AND u.USER_NO = #{userNo}
	</select>
	
</mapper>