<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.develop.dao.IDevelopRepository">
	
	<!-- 
		페이징처리를 위한 전체 행의 수  
		작성자: 정홍주
	-->
	<select id="totalRow" resultType="int">
		select count(*) from sr where stts_no = 4 or stts_no = 5 or stts_no=6
	</select>
	
	<!-- 
		목록조회
		작성자: 정홍주
	-->
	<select id="selectDevelopList" parameterType="pager" resultType="developDto">
		<![CDATA[
			select rnum, 
			        sr_no AS srNo, 
			        sr_cust_no AS srCustId, 
			        sys_no AS sysNo, 
			        sys_nm as sysNm,
			        stts_no AS sttsNo, 
			        stts_nm AS sttsNm,
			        sr_ttl AS srTtl, 
			        sr_cn AS srCn, 
			        sr_reg_date AS srRegDate, 
			        sr_pry AS srPry, 
			        sr_opnn AS srOppn, 
			        sr_bgt AS srBgt, 
			        sr_dev_cn AS srDevCn, 
			        sr_ddln_date AS srDdlnDate, 
			        sr_start_date AS srStartDate, 
			        sr_end_date AS srEndDate, 
			        sr_view_yn AS srViewYn, 
			        sr_type AS srType,
			        sr_dev_dp as srDevDp,
			        user_nm AS userNm, 
			        user_ogdp AS userOgdp, 
			        user_dp_nm AS userDpNm
			from(
			    select rownum as rnum, sr_no, sr_cust_no, aa.sys_no, aa.sys_nm, aa.stts_no, aa.stts_nm, sr_ttl, sr_cn, sr_reg_date, sr_pry, sr_opnn, sr_bgt, 
			        sr_dev_cn, sr_ddln_date, sr_start_date, sr_end_date, sr_view_yn, aa.sr_type, sr_dev_dp, user_nm, user_ogdp, user_dp_nm
			    from(
			      select  sr_no, sr_cust_no, sr.sys_no, system.sys_nm, sr.stts_no, sr_stts.stts_nm, sr_ttl, sr_cn, sr_reg_date, sr_pry, sr_opnn, sr_bgt, 
			        sr_dev_cn, sr_ddln_date, sr_start_date, sr_end_date, sr_view_yn, sr.sr_type,  sr.sr_dev_dp, user_nm, user_ogdp, user_dp_nm
			      from sr, sr_type, sr_stts, users, system
			      where sr.stts_no = sr_stts.stts_no and system.sys_no = sr.sys_no and sr.sr_cust_no = users.user_no and sr.sr_type = sr_type.sr_type_no and sr.stts_no in(4, 5, 6)
			      order by sr_no desc
			    ) aa
			where rownum <= #{endRowNo}
			)
			where rnum >= #{startRowNo}
		]]>
	</select>
	
	<!-- 
		수정하기 위해 저장된 SR요청서 조회
		작성자: 정홍주
	 -->
	<select id="selectDevelopContent" parameterType="string" resultType="developDto">
		select  sr_no AS "srNo", 
		        sr_cust_no AS "srCustId", 
		        s.sys_no AS "sysNo", 
		        sys_nm as "sysNm",
		        s.stts_no AS "sttsNo", 
		        stts_nm AS "sttsNm",
		        sr_ttl AS "srTtl", 
		        sr_cn AS "srCn", 
		        sr_reg_date AS "srRegDate", 
		        sr_pry AS "srPry", 
		        sr_opnn AS "srOppn", 
		        sr_bgt AS "srBgt", 
		        sr_dev_cn AS "srDevCn", 
		        sr_ddln_date AS "srDdlnDate", 
		        sr_start_date AS "srStartDate", 
		        sr_end_date AS "srEndDate", 
		        sr_view_yn AS "srViewYn", 
		        sr_type AS "srType",
		        sr_dev_dp as "srDevDp",
		        user_nm AS "userNm", 
		        user_ogdp AS "userOgdp", 
		        user_dp_nm AS "userDpNm"
		 from sr s, sr_type, sr_stts, users, system
		 where s.stts_no = sr_stts.stts_no and system.sys_no = s.sys_no and s.sr_cust_no = users.user_no 
		    and s.sr_type = sr_type.sr_type_no and s.sr_no = #{srNo}
	</select>
	
	<!-- 
		개발자 타입인 user 조회
		작성자: 정홍주
	 -->
	<select id="devList" resultType="users">
		SELECT USER_NO AS "userNo", USER_NM AS "userNm", USER_OGDP AS "userOgdp", USER_DP_NM AS "userDpNm" 
 		FROM USERS
 		WHERE USER_TYPE = '개발자'
	</select>
	
	<!-- 
		팀단위로 개발자 조회
		작성자: 정홍주
	 -->
	<select id="selectDeveloperByDp" parameterType="string" resultType="users">
		SELECT USER_NO AS "userNo",
				USER_JBPS AS "userJbps", 
				USER_NM AS "userNm", 
				USER_TELNO AS "userTelNo"
		FROM USERS
		WHERE USER_TYPE='개발자' AND USER_DP_NM=#{userDpNm}
	</select>
	
	<select id="hrlist" parameterType="map" resultType="hr">
		SELECT 	USERS.USER_NO AS "userNo", 
				SR.SR_TTL AS "srTtl",
				HR_START_DATE AS "hrStartDate", 
				HR_END_DATE AS "hrEndDate", 
				TASK_NM AS "taskNm"
		FROM HR, TASK, USERS, SR
		WHERE USERS.USER_TYPE = '개발자' AND SR.SR_NO = HR.SR_NO AND USERS.USER_DP_NM = #{userDpNm} AND USERS.USER_NO=#{userNo} AND USERS.USER_NO = HR.USER_NO AND HR.TASK_NO = TASK.TASK_NO
	</select>
	
	<!-- 
		SR에 개발계획  update하기
		작성자: 정홍주
	 -->
	<update id="updateSr" parameterType="developDto">
		UPDATE SR SET SR_DEV_CN=#{srDevCn}, SR_BGT=#{srBgt}, STTS_NO = #{sttsNo}, SR_DDLN_DATE=#{srDdlnDate}, SR_START_DATE=#{srStartDate},
    			SR_END_DATE=#{srEndDate}, SR_DEV_DP=#{srDevDp}
		WHERE SR_NO=#{srNo}
	</update>
	
	<select id="selectNameByNo" parameterType="int" resultType="users">
		SELECT USER_NO AS userNo, USER_NM AS userNm, USER_DP_NM AS userDpNm
		FROM USERS
		WHERE USER_NO = #{userNo}
	</select>
	
	<insert id="insertHrRow" parameterType="hr">
		INSERT INTO HR(SR_NO, USER_NO, TASK_NO, HR_START_DATE, HR_END_DATE, HR_LEADER) 
		VALUES (#{srNo}, #{userNo}, #{taskNo}, #{hrStartDate}, #{hrEndDate}, 'N')
	
	</insert>
	
	</mapper>