<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.home.dao.IHomeRepository">
	
	<select id="selectSysInfo" parameterType="int" resultType="systemInfo">
		select 
			s.sys_no as "sysNo", 
			u.user_nm as "managerNm", 
			sys_nm as "sysNm", 
			sys_updt_date as "sysUpdtDate"
		from system s, user_system us, users u
		where s.sys_no = us.sys_no and u.user_no = s.manager_no
		and us.cust_no = #{userNo}
	</select>
	
	<select id="selectDonutList" parameterType="string" resultType="donut">
		SELECT
		    stts.STTS_NO AS "sttsNo",
		    stts_NM AS "sttsNm", 
		    COUNT(SR_NO) AS "count"
		FROM SR sr, SR_STTS stts
		WHERE sr.stts_no = stts.stts_no
		AND SYS_NO = #{sysNo}
		GROUP BY stts.STTS_NO, STTS_NM
		ORDER BY stts.STTS_NO ASC
	</select>

</mapper>