<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.home.dao.IHomeRepository">
	
	<select id="selectSysInfo" parameterType="int" resultType="systemInfo">
		select 
			s.sys_no as "sysNo", 
			u.user_nm as "managerNm", 
			sys_nm as "sysNm", 
			sys_updt_date as "sysUpdtDate"
		from system s, user_system us, users u
		where s.sys_no = us.sys_no and u.user_no = s.manager_no
		and us.cust_no = #{userNo}
	</select>
	
	<select id="selectDonutList" parameterType="string" resultType="donut">
		SELECT
		    stts.STTS_NO AS "sttsNo",
		    stts_NM AS "sttsNm", 
		    COUNT(SR_NO) AS "count"
		FROM SR sr, SR_STTS stts
		WHERE sr.stts_no = stts.stts_no
		AND SYS_NO = #{sysNo}
		AND TO_CHAR(SR_REG_DATE, 'YYYY') = TO_CHAR(sysdate, 'YYYY')
		GROUP BY stts.STTS_NO, STTS_NM
		ORDER BY stts.STTS_NO ASC
	</select>
	
	<select id="selectDonutListDeveloper" parameterType="int" resultType="donut">
		SELECT
		    stts.STTS_NO AS "sttsNo",
		    stts_NM AS "sttsNm",
            COUNT(SR.SR_NO) AS "count"
		FROM SR sr, SR_STTS stts, HR hr
		WHERE sr.stts_no = stts.stts_no
        AND sr.sr_no = hr.sr_no
		AND USER_NO = #{userNo}
        GROUP BY stts.STTS_NO, STTS_NM
		ORDER BY stts.STTS_NO ASC
	</select>

	<select id="selectSysInfo2" parameterType="int" resultType="systemInfo">
		select 
		    s.sys_no as "sysNo", 
		    u.user_nm as "managerNm", 
		    sys_nm as "sysNm", 
		    sys_updt_date as "sysUpdtDate"
		from system s, users u
		WHERE s.manager_no = u.user_no
		AND u.user_no = #{userNo}
	</select>
	
	<select id="selectTotalCount" parameterType="sr" resultType="int">
	    SELECT
		    COUNT(sr.SR_NO)
		FROM SR sr, SYSTEM system, SR_STTS stts
	    <if test="userType.equals('개발자')">
	    , HR hr
	    </if>
		WHERE sr.sys_no = system.sys_no
		AND stts.stts_no = sr.stts_no
		AND TO_CHAR(SR_REG_DATE, 'YYYY') = TO_CHAR(sysdate, 'YYYY')
	    <if test="userType.equals('고객사')">
	    	AND SR_CUST_NO = #{srCustNo}
	    	AND sr.sys_no = #{sysNo}
	   	</if>
	   	<if test="userType.equals('관리자')">
	   		AND sr.sys_no = #{sysNo}
	   	</if>
	    <if test="sttsNo != 0">
	    	AND SR.STTS_NO = #{sttsNo}
	    </if>
		<if test="userType.equals('개발자')">
			AND hr.sr_no = sr.sr_no
			AND user_no = #{srCustNo}
	    </if>
	</select>
	
	<select id="selectHomeList" parameterType="sr" resultType="sr">
	SELECT
		rownum,
		SR_NO AS "srNo",
        SR_TTL AS "srTtl",
        SYS_NM AS "sysNm",
        stts_NM AS "sttsNm",
        SR_REG_DATE AS "srRegDate",
        SR_PRY AS "srPry"
	FROM (
		SELECT
			rownum as rnum,
			SR_NO,
			SR_TTL,
			SYS_NM,
			STTS_NM,
			SR_REG_DATE,
			SR_PRY
			FROM (
				SELECT
					SR_NO,
					SR_TTL,
					SYS_NM,
					STTS_NM,
					SR_REG_DATE,
					SR_PRY
					FROM (
						SELECT
					        sr.SR_NO AS "SR_NO",
					        SR_TTL,
					        SYS_NM,
					        stts_NM,
					        SR_REG_DATE,
					        SR_PRY
					    FROM SR sr, SYSTEM system, SR_STTS stts
					    <if test="userType.equals('개발자')">
					    , HR hr
					    </if>
					    WHERE sr.sys_no = system.sys_no
					    AND stts.stts_no = sr.stts_no
					    AND TO_CHAR(SR_REG_DATE, 'YYYY') = TO_CHAR(sysdate, 'YYYY')
					    <if test="userType.equals('고객사')">
					    	AND SR_CUST_NO = #{srCustNo}
					    	AND sr.sys_no = #{sysNo}
					   	</if>
					   	<if test="userType.equals('관리자')">
					    	AND sr.sys_no = #{sysNo}
					   	</if>
					    <if test="sttsNo != 0">
					    	AND SR.STTS_NO = #{sttsNo}
					    </if>
					    <if test="userType.equals('개발자')">
	                        AND hr.sr_no = sr.sr_no
	                        AND user_no = #{srCustNo}
					    </if>
				    )
				ORDER BY SR_PRY, SR_REG_DATE DESC, SR_NO
			)
			<![CDATA[
				WHERE rownum <= #{end}
			]]>
		)
		<![CDATA[
		WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="selectRequestSr" parameterType="string" resultType="progressDetail">
		SELECT
		    SR_NO AS "srNo",
		    SR_TTL AS "srTtl",
		    SR_STD AS "srStd",
		    SYS_NM AS "sysNm",
		    STTS_NM AS "sttsNm",
		    USER_DP_NM AS "userDpNm",
		    USER_NM AS "requesterNm",
		    SR_REG_DATE AS "srRegDate",
		    SR_DDLN_DATE AS "srDdlnDate",
		    SR_CN AS "srCn",
		    SR_PRY "srPry",
		    SR_BGT "srBgt"
		FROM SR sr,SYSTEM system, SR_STTS stts, USERS users
		WHERE sr.sys_no = system.sys_no
		AND sr.stts_no = stts.stts_no
		AND sr.sr_cust_no = users.user_no
		AND sr_no = #{srNo}
	</select>
	
	<select id="selectSrData" parameterType="string" resultType="devMini">
		SELECT
		    sr_no AS "srNo",
		    sr_type_nm AS "srTypeNm",
		    SR_TTL AS "srTtl",
		    SYS_NM AS "sysNm",
		    USER_NM AS "srRequesterNm",
		    SR_BGT AS "srBgt",
		    SR_START_DATE AS "srStartDate"
		FROM SR, SR_TYPE type, SYSTEM, USERS
		WHERE sr.sr_type = type.sr_type_no
		AND sr.sys_no = system.sys_no
		AND sr.sr_cust_no = users.user_no
		AND sr_no = #{srNo}
	</select>
	
	<select id="selectProgressList" parameterType="string" resultType="progress">
		SELECT
			PROG_NO AS "progNo",
		    PROG_TYPE_NM AS "progTypeNm",
		    PROG_START_DATE AS "progStartDate",
		    PROG_END_DATE AS "progEndDate"
		FROM PROGRESS, PROG_TYPE type
		WHERE PROGRESS.prog_type = type.prog_type_no
		AND sr_no = #{srNo}
        ORDER BY PROG_TYPE_NO ASC
	</select>
	
	<select id="selectHrList" parameterType="string" resultType="hr">
		SELECT
		    USER_DP_NM AS "userDpNm",
		    HR_LEADER AS "hrLeader",
		    USER_NM AS "userNm",
		    HR_START_DATE AS "hrStartDate",
		    HR_END_DATE AS "hrEndDate",
		    TASK_NM AS "taskNm"
		FROM USERS, HR, TASK
		WHERE USERS.user_no = HR.user_no
		AND HR.task_no = task.task_no
		AND sr_no = #{srNo}
		ORDER BY hr_leader DESC
	</select>
	
	<select id="selectFileCount" parameterType="string" resultType="int">
		SELECT
		    COUNT(PROG_FILE_NO)
		FROM PROG_FILE
		WHERE PROG_NO = #{progNo}
	</select>
</mapper>