<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.progress.dao.IProgressRepository">

	<!-- 
		필터링 시스템 구분 조회 
		작성자 : 김태희
	-->
	<select id="selectSysNmList" resultType="system">
		SELECT 
		    SYS_NO AS "sysNo",
		    SYS_NM AS "sysNm"
		FROM SYSTEM
		WHERE SYS_NM != '한국소프트SRM'
	</select>

	<!--
		필터링 업무 구분 조회 		
		작성자 : 김태희
	-->
	<select id="selectSrType" resultType="srtype">
		SELECT 
		    SR_TYPE_NO AS "srTypeNo",
		    SR_TYPE_NM AS "srTypeNm"
		FROM SR_TYPE
	</select>
	
	<!--
		필터링 진행 상태 조회 		
		작성자 : 김태희
	-->
	<select id="selectSttsNmList" resultType="srstts">
		SELECT 
		    STTS_NO AS "sttsNo",
		    STTS_NM AS "sttsNm"
		FROM SR_STTS
		WHERE STTS_NO = 5 OR STTS_NO = 6 OR STTS_NO = 8 OR STTS_NO = 10
	</select>
	
	<!--
		페이징 처리 하기 위한 행의 수 조회
		작성자 : 김태희	
	-->
	<select id="selectTotalProgressCount" parameterType="progressAjax" resultType="int">
		SELECT COUNT(SR_NO)
		FROM (
			SELECT
			    SR.SR_NO
			FROM SR sr, SYSTEM system, SR_STTS stts, USERS users, SR_TYPE type, HR hr
			where sr.sys_no = system.sys_no
			AND sr.stts_no = stts.stts_no
			AND sr.sr_cust_no = users.user_no
			AND sr.sr_type = type.sr_type_no
			AND sr.sr_no = hr.sr_no
			<if test="sysNo != ''">
				AND sr.sys_no = #{sysNo}
			</if>
			<if test="srTypeNo != 0">
				AND sr.sr_type = #{srTypeNo}
			</if>
			<if test="srSttsNo != 0">
				AND sr.stts_no = #{srSttsNo}
			</if>
			<if test="srName != ''">
				AND sr.sr_ttl LIKE #{srName}
			</if>
			<if test="srNo != ''">
				AND sr.sr_no LIKE #{srNo}
			</if>
			<if test="userType == '개발자'">
				AND hr.user_no = #{userNo}
			</if>
			<if test="adminSysNo != ''">
				AND sr.sys_no = #{adminSysNo}
			</if>
			AND (sr.stts_no = 5 or sr.stts_no = 6 or sr.stts_no = 8 or sr.stts_no = 10)
			GROUP BY SR.SR_NO
		)
	</select>
	
	<!--
		페이징 된 리스트
		작성자 : 김태희
	-->
	<select id="selectProgressList" parameterType="progressAjax" resultType="progressList">
	SELECT
		rownum,
	    SR_NO AS "srNo",
	    SYS_NM AS "sysNm",
	    SR_TYPE_NM AS "srTypeNm",
	    SR_TTL AS "srTtl",
	    USER_NM AS "userNm",
	    SR_DDLN_DATE AS "srDdlnDate",
	    STTS_NM AS "sttsNm",
	    SR_PRY AS "srPry"
		FROM(
			SELECT
				rownum as rnum,
				SR_NO,
				SYS_NM,
				SR_TYPE_NM,
				SR_TTL,
				USER_NM,
				SR_DDLN_DATE,
				STTS_NM,
				SR_PRY
				FROM(
					SELECT
						SR_NO,
						SYS_NM,
						SR_TYPE_NM,
						SR_TTL,
						USER_NM,
						SR_DDLN_DATE,
						STTS_NM,
						SR_PRY
						FROM(
							SELECT
							    SR.SR_NO,
							    SYS_NM,
							    SR_TYPE_NM,
							    SR_TTL,
							    USER_NM,
							    SR_DDLN_DATE,
							    STTS_NM,
							    SR.STTS_NO,
							    SR_PRY
							FROM SR sr, SYSTEM system, SR_STTS stts, USERS users, SR_TYPE type, HR hr
							where sr.sys_no = system.sys_no
							AND sr.stts_no = stts.stts_no
							AND sr.sr_cust_no = users.user_no
							AND sr.sr_type = type.sr_type_no
							AND sr.sr_no = hr.sr_no
							<if test="sysNo != ''">
								AND sr.sys_no = #{sysNo}
							</if>
							<if test="srTypeNo != 0">
								AND sr.sr_type = #{srTypeNo}
							</if>
							<if test="srSttsNo != 0">
								AND sr.stts_no = #{srSttsNo}
							</if>
							<if test="srName != ''">
								AND sr.sr_ttl LIKE #{srName}
							</if>
							<if test="srNo != ''">
								AND sr.sr_no LIKE #{srNo}
							</if>
							<if test="userType == '개발자'">
								AND hr.user_no = #{userNo}
							</if>
							<if test="adminSysNo != ''">
								AND sr.sys_no = #{adminSysNo}
							</if>
							AND (sr.stts_no = 5 or sr.stts_no = 6 or sr.stts_no = 8 or sr.stts_no = 10)
							GROUP BY SR.SR_NO, SYS_NM, SR_TYPE_NM, SR_TTL, USER_NM, SR_DDLN_DATE, STTS_NM, SR.STTS_NO, SR_PRY
						)
					ORDER BY DECODE(STTS_NO, 8, 1, 10, 2, 5, 3) ASC, SR_PRY, SR_DDLN_DATE DESC
				)
			<![CDATA[
			WHERE rownum <= #{end}
			]]>
		)
		<![CDATA[
		WHERE rnum >= #{start}
		]]>
	</select>
	
	<!--
		상세 뷰 SR 상세 정보 조회 (requester 정보)
		작성자 : 김태희
	-->
	<select id="selectProgressRequester" parameterType="string" resultType="progressDetail">
		SELECT
		    SR_NO AS "srNo",
		    SR_TYPE_NM AS "srTypeNm",
		    SR_TTL AS "srTtl",
		    SR_STD AS "srStd",
		    SYS_NM AS "sysNm",
		    STTS_NM AS "sttsNm",
		    USER_DP_NM AS "userDpNm",
		    USER_NM AS "requesterNm",
		    SR_REG_DATE AS "srRegDate",
		    SR_DDLN_DATE AS "srDdlnDate",
		    SR_CN AS "srCn",
		    SR_PRY AS "srPry",
		    SR_BGT AS "srBgt",
		    SR_DEV_CN AS "srDevCn",
		    SR.SYS_NO AS "sysNo"
		FROM SR sr, SR_TYPE type ,SYSTEM system, SR_STTS stts, USERS users
		WHERE sr.sr_type = type.sr_type_no
		AND sr.sys_no = system.sys_no
		AND sr.stts_no = stts.stts_no
		AND sr.sr_cust_no = users.user_no
		AND sr_no = #{srNo}
	</select>
	
	<!--
		상세 뷰 SR 상세 정보 조회 (developer 정보)
		작성자 : 김태희
	-->
	<select id="selectProgessdeveloper" parameterType="string" resultType="progressDetail">
		SELECT
		    USER_DP_NM AS "dpNm",
		    USER_NM AS "developerNm",
		    SR_START_DATE AS "srStartDate",
		    SR_END_DATE AS "srEndDate"
		FROM SR sr, HR hr, USERS users
		WHERE sr.sr_no = hr.sr_no
		AND hr.user_no = users.user_no
		AND hr_leader = 'Y'
		AND sr.SR_NO = #{srNo}
	</select>
	
	<!--
		상세 뷰 첨부파일 List 조회
		작성자 : 김태희
	-->
	<select id="selectSrFileList" parameterType="string" resultType="srFile">
		SELECT
		    SR_FILE_NO AS "srFileNo",
		    SR_FILE_PHYS_NM AS "srFilePhysNm",
		    SR_FILE_EXTN_NM AS "srFileExtnNm",
		    SR_FILE_ACTL_NM AS "srFileActlNm"
		FROM SR_FILE
		WHERE SR_NO = #{srNo}
	</select>
	
	<!--
		상세 뷰 첨부파일 조회
		작성자 : 김태희
	-->	
	<select id="selectSrFile" parameterType="int" resultType="srFile">
		SELECT
		    SR_FILE_PHYS_NM AS "srFilePhysNm",
		    SR_FILE_EXTN_NM AS "srFileExtnNm",
		    SR_FILE_ACTL_NM AS "srFileActlNm"
		FROM SR_FILE
		WHERE SR_FILE_NO = #{srFileNo}
	</select>
	
	<!--
		인적 자원 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectHumanResourceList" parameterType="string" resultType="hr">
		SELECT
			hr.USER_NO AS "userNo",
		    USER_NM AS "userNm",
		    USER_DP_NM AS "userDpNm",
		    USER_JBPS AS "userJbps",
		    USER_TELNO AS "userTelno",
		    TASK_NM AS "taskNm",
		    HR_START_DATE AS "hrStartDate",
		    HR_END_DATE AS "hrEndDate",
		    HR_LEADER AS "hrLeader"
		FROM HR hr, USERS users, TASK task
		WHERE hr.user_no = users.user_no
		AND hr.task_no = task.task_no
		AND sr_no = #{srNo}
		ORDER BY hr_leader DESC
	</select>
	
	<!-- 
		개발자 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectDeveloperList" parameterType="map" resultType="hr">
		SELECT 
		    USERS.USER_NO AS "userNo",
		    USER_NM AS "userNM",
		    USER_JBPS AS "userJbps",
		    USER_TELNO AS "userTelno"
		FROM USERS users
		LEFT JOIN (
		SELECT
		    SR_NO, USER_NO
		FROM HR hr
		WHERE SR_NO = #{srNo}) hr
		ON users.user_no = hr.user_no
		WHERE hr.user_no IS NULL
		AND USER_DP_NM = #{userDpNm}
	</select>
	
	<!-- 
		개발자가 맞고 있는 SR 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectDeveloperSR" parameterType="int" resultType="developerSr">
		SELECT
		    SR_TTL AS "srTtl",
		    HR_START_DATE AS "hrStartDate",
		    HR_END_DATE AS "hrEndDate"
		FROM SR sr, HR hr
		WHERE sr.sr_no = hr.sr_No
		AND user_no = #{userNo}
	</select>
	
	<!-- 
		개발자 업무 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectTaskList" resultType="task">
		SELECT
			TASK_NO AS "taskNo",
			TASK_NM AS "taskNm"
		FROM TASK
	</select>
	
	<!-- 
		SR인적자원 개발자 추가
		작성자 : 김태희
	-->
	<insert id="insertDeveloper" parameterType="thArr">
		INSERT ALL
		<foreach collection="thArr" item="thArr">
		INTO HR (SR_NO, USER_NO, TASK_NO, HR_START_DATE, HR_END_DATE, HR_LEADER)
			VALUES (#{thArr.srNo}, #{thArr.userNo}, #{thArr.taskNo}, #{thArr.hrStartDate}, #{thArr.hrEndDate}, 'N')
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<!-- 
		수정 클릭 시 수정 할 개발자 정보 조회
		작성자 : 김태희
	-->
	<select id="selectDeveloper" parameterType="map" resultType="hr">
		SELECT
		    SR_NO AS "srNo",
		    HR.USER_NO AS "userNo",
		    HR.TASK_NO AS "taskNo",
		    TASK_NM AS "taskNm",
		    HR_START_DATE AS "hrStartDate",
		    HR_END_DATE AS "hrEndDate",
		    HR_LEADER AS "hrLeader",
		    USER_NM AS "userNm",
		    USER_JBPS AS "userJbps"
		FROM HR hr, USERS users, TASK task
		WHERE hr.user_no = users.user_no
		AND hr.task_no = task.task_no
		AND SR_NO = #{srNo}
		AND hr.USER_NO = #{userNo}
	</select>
	
	<!-- 
		SR인적자원 개발자 수정
		작성자 : 김태희
	-->
	<update id="updateDeveloper" parameterType="hr">
		UPDATE HR
		SET 
		    HR_START_DATE = #{hrStartDate},
		    HR_END_DATE = #{hrEndDate}
		WHERE SR_NO = #{srNo}
		AND USER_NO = #{userNo}
	</update>
	
	<!-- 
		SR인적자원 개발자 삭제
		작성자 : 김태희
	-->
	<delete id="deleteDeveloper" parameterType="map">
		DELETE HR
		WHERE SR_NO = #{srNo}
		AND USER_NO = #{userNo}
	</delete>
	
	<!-- 
		진척율 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectProgressRateList" parameterType="string" resultType="progress">
		SELECT
		    PROG_NO AS "progNo",
		    SR_NO AS "srNo",
		    PROG_TYPE_NM AS "progTypeNm",
		    PROG_TYPE AS "progType",
		    PROG_START_DATE AS "progStartDate",
		    PROG_END_DATE AS "progEndDate",
		    PROG_RATE "progRate"
		FROM PROGRESS progress, PROG_TYPE type
		WHERE progress.prog_type = type.prog_type_no
		AND sr_no = #{srNo}
		ORDER BY PROG_TYPE
	</select>
	
	<!-- 
		진척율 정보 저장
		작성자 : 김태희
	-->
	<select id="selectProgressRate" parameterType="string" resultType="progress">
		SELECT
		    PROG_NO AS "progNo",
		    SR_NO AS "srNo",
		    PROG_TYPE_NM AS "progTypeNm",
		    PROG_TYPE AS "progType",
		    PROG_START_DATE AS "progStartDate",
		    PROG_END_DATE AS "progEndDate",
		    PROG_RATE "progRate"
		FROM PROGRESS progress, PROG_TYPE type
		WHERE progress.prog_type = type.prog_type_no
		AND PROG_NO = #{progNo}
	</select>
	
	<!-- 
		진척율 파일 저장
		작성자 : 김태희
	-->
	<insert id="insertProgressRateFile" parameterType="progress">
		<![CDATA[
			INSERT INTO PROG_FILE
				(PROG_FILE_NO, PROG_NO, PROG_FILE_PHYS_NM, PROG_FILE_ACTL_NM, PROG_FILE_EXTN_NM, PROG_REG_DATE)
		 		VALUES (progfileno_seq.nextval, #{progNo}, #{progFilePhysNm}, #{progFileActlNm}, #{progFileExtnNm}, sysdate)
    	]]>
	</insert>
	
	<!-- 
		진척율 정보 수정
		작성자 : 김태희
	-->
	<update id="updateProgressRate" parameterType="progress">
		UPDATE PROGRESS
		SET
		    PROG_START_DATE = #{progStartDate, jdbcType=VARCHAR},
		    PROG_END_DATE = #{progEndDate, jdbcType=VARCHAR},
		    PROG_RATE = #{progRate}
		WHERE PROG_NO = #{progNo}
	</update>
	<!-- 
		진척율 파일 정보 조회1
		작성자 : 김태희
	-->
	<select id="selectProgressRateFile" parameterType="string" resultType="progressFile">
		SELECT
		    PROG_FILE_NO AS "progFileNo",
		    PROG_NO AS "progNo",
		    PROG_FILE_PHYS_NM AS "progFilePhysNm",
		    PROG_FILE_ACTL_NM AS "progFileActlNm",
		    PROG_FILE_EXTN_NM AS "progFileExtnNm"
		FROM PROG_FILE
		WHERE PROG_NO = #{progNo}
	</select>
	
	<!-- 
		진척율 파일 정보 조회2
		작성자 : 김태희
	-->
	<select id="selectProgressFile" parameterType="string" resultType="progressFile">
		SELECT
		    PROG_FILE_NO AS "progFileNo",
		    PROG_NO AS "progNo",
		    PROG_FILE_PHYS_NM AS "progFilePhysNm",
		    PROG_FILE_ACTL_NM AS "progFileActlNm",
		    PROG_FILE_EXTN_NM AS "progFileExtnNm"
		FROM PROG_FILE
		WHERE PROG_FILE_NO = #{progFileNo}
	</select>
	
	<!-- 
		진척율 파일 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectProgressFileList" parameterType="string" resultType="progressFile">
		SELECT
		    PROG_FILE_NO AS "progFileNo",
		    progfile.PROG_NO "progNo",
		    PROG_TYPE_NM "progTypeNm",
		    PROG_FILE_PHYS_NM "progFilePhysNm",
		    PROG_FILE_ACTL_NM "progFileActlNm",
		    PROG_FILE_EXTN_NM "progFileExtnNm",
		    PROG_REG_DATE "progRegDate"
		FROM PROG_FILE progfile, PROGRESS progress, PROG_TYPE type
		WHERE progfile.prog_no = progress.prog_no
		AND progress.prog_type = type.prog_type_no
		AND SR_NO = #{srNo}
		ORDER BY PROG_TYPE_NO ASC, PROG_REG_DATE DESC
	</select>
	
	<!-- 
		진척율 파일 타입 리스트 조회
		작성자 : 김태희
	-->
	<select id="selectProgressTypeList" resultType="progressType">
		SELECT
		    PROG_TYPE_NO AS "progTypeNo",
		    PROG_TYPE_NM AS "progTypeNm"
		FROM PROG_TYPE
	</select>
	
	<!-- 
		진척율 파일 progNo 조회
		작성자 : 김태희
	-->
	<select id="selectProgNo" parameterType="map" resultType="progress">
		SELECT
		    PROG_NO AS "progNo"
		FROM PROGRESS
		WHERE SR_NO = #{srNo}
		AND PROG_TYPE = #{progTypeNo}
	</select>
	
	<!-- 
		진척율 파일 삭제
		작성자 : 김태희
	-->
	<delete id="deleteProgressFiles" parameterType="int">
		DELETE PROG_FILE
		WHERE PROG_FILE_NO = #{progFileNo}
	</delete>
	
	<update id="updateProgressFinishRequest" parameterType="map">
		UPDATE SR
		SET
			<if test="choice == 1">
		    	STTS_NO = 8
		    </if>
		    <if test="(choice == 2 || choice == 3)">
		    	STTS_NO = 6
		    </if>
		WHERE SR_NO = #{srNo}
	</update>
	
	<update id="updateProgressRateFinishRequest" parameterType="map">
		UPDATE PROGRESS
		SET
		    PROG_START_DATE = sysdate,
		    PROG_END_DATE = sysdate,
		    <if test="choice == 1">
		    	PROG_RATE = 90
		    </if>
		    <if test="choice == 2">
		    	PROG_RATE = 100
		    </if>
		WHERE PROG_NO = #{progNo}
	</update>
	
	<select id="selectManagerNo" parameterType="string" resultType="string">
		SELECT
		    MANAGER_NO
		FROM SYSTEM, SR
		WHERE SYSTEM.SYS_NO = SR.SYS_NO
		AND SR_NO = #{srNo}
	</select>
	
	<insert id="insertChangeRequest" parameterType="changeRequest">
		INSERT INTO CHANGE_REQUEST
        (CR_NO, CR_REG_DATE, SR_NO, USER_NO, CR_TTL, CR_CN, CR_RESULT, CR_FILE_PHYS_NM, CR_FILE_EXTN_NM, CR_FILE_ACTL_NM, CR_DDLN_DATE)
    VALUES
        (crno_seq.nextval, sysdate, #{srNo}, #{userNo}, #{crTtl}, #{crCn}, '미처리', #{crFilePhysNm}, #{crFileExtnNm}, #{crFileActlNm}, #{crDdlnDate})
	</insert>
	
	<select id="selectChangeRequestList" parameterType="string" resultType="changeRequest">
		SELECT
			CR_NO AS "crNo",
		    CR_TTL AS "crTtl",
		    CR_REG_DATE AS "crRegDate",
		    CR_RESULT AS "crResult",
		    CR_FILE_PHYS_NM AS "crFilePhysNm",
		    CR_FILE_EXTN_NM AS "crFileExtnNm",
		    CR_FILE_ACTL_NM AS "crFileActlNm"
		FROM CHANGE_REQUEST
		WHERE SR_NO = #{srNo}
	</select>
	
	<select id="selectChangeRequestFile" parameterType="int" resultType="changeRequest">
		SELECT
			CR_NO AS "crNo",
			CR_REG_DATE AS "crRegDate",
			SR_NO AS "srNo",
			request.USER_NO AS "userNo",
            USER_NM AS "userNm",
			CR_TTL AS "crTtl",
			CR_CN AS "crCn",
			CR_RESULT AS "crResult",
			CR_COMMENT AS "crComment",
		    CR_FILE_PHYS_NM AS "crFilePhysNm",
		    CR_FILE_EXTN_NM AS "crFileExtnNm",
		    CR_FILE_ACTL_NM AS "crFileActlNm",
		    CR_DDLN_DATE AS "crDdlnDate"
		FROM CHANGE_REQUEST request, USERS users
        WHERE request.user_no = users.user_no
		AND CR_NO = #{crNo}
	</select>
	
	<update id="updateSrStts" parameterType="string">
		UPDATE SR
		SET 
		    STTS_NO = 10
		WHERE SR_NO = #{srNo}
	</update>
	
	<update id="updateSr" parameterType="changeRequest">
		UPDATE SR
		SET
			STTS_NO = 5
			<if test="choice == 1">
			,
			SR_DDLN_DATE = #{date},
			SR_END_DATE = #{crDdlnDate}
			</if>
		WHERE SR_NO = #{srNo}	
	</update>
	
	<update id="updateChangeRequest" parameterType="map">
		UPDATE CHANGE_REQUEST
		SET
			<if test="choice == 1">
		    CR_RESULT = '승인'
		    </if>
		    <if test="choice == 2">
		    CR_RESULT = '반려',
		    CR_COMMENT = #{crComment}
		    </if>
		WHERE CR_NO = #{crNo}
	</update>
	
	<update id="updateDeveloperEndDate" parameterType="map">
		UPDATE HR
		SET 
		    HR_END_DATE = #{hrEndDate}
		WHERE SR_NO = #{srNo}
		AND USER_NO = #{userNo}
	</update>
	
	<select id="selectSysUserData" parameterType="string" resultType="users">
		SELECT
		    USER_NM AS "userNm",
		    SYS_UPDT_DATE AS "sysUpdtDate",
		    USER_TELNO AS "userTelNo",
		    USER_EML AS "userEml"
		FROM USERS, SYSTEM
		WHERE USERS.user_no = SYSTEM.manager_no
		AND SYS_NO = #{sysNo}
	</select>
</mapper>