<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.qnaboard.dao.IQnaboardRepository">
	
	<select id="selectQnaboardList" resultType="qstn" parameterType="pager">
		<![CDATA[
			SELECT 
					rnum ,
					QSTN_NO AS 	"qstnNo",
					QSTN_TTL AS "qstnTtl",
					QSTN_INQ_CNT AS "qstnInqCnt",
					QSTN_WRT_DATE AS "qstnWrtDate",
					USER_NM AS "userNm"			
			from(
				   	select rownum as rnum, qstn_no, qstn_ttl, qstn_cn, qstn_inq_cnt, qstn_wrt_date, user_no, user_nm
				   	from(
				      select qstn_no, qstn_ttl, qstn_cn, qstn_inq_cnt, qstn_wrt_date, qstn.user_no, user_nm
				      from qstn, users
			          where qstn.user_no = users.user_no
				      order by qstn_no desc
				    ) 
			    where rownum <= #{endRowNo}
				)
			where rnum >= #{startRowNo}
		]]>
	</select>
	
	<select id="totalRow" resultType="int">
		select count(*) from qstn
	</select>
	
	<select id="getDetail" parameterType="int" resultType="qstn">
		SELECT QSTN_NO AS "qstnNo", 
				USER_NM AS "userNm", 
				QSTN_TTL AS "qstnTtl", 
				QSTN_CN AS "qstnCn", 
				QSTN_INQ_CNT AS "qstnInqCnt", 
				QSTN_WRT_DATE AS "qstnWrtDate"
		FROM QSTN, USERS
		WHERE QSTN.USER_NO = USERS.USER_NO AND QSTN.QSTN_NO =#{qstnNo}
	</select>
	
	<select id="getCommentList" parameterType="int" resultType="qstnComment">
		SELECT QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				QC.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
		FROM QSTN_COMMENT QC, USERS U
		WHERE QC.USER_NO = U.USER_NO AND QC.QSTN_NO = #{qstnNo}
		ORDER BY QSTN_CMNT_NO 
	</select>
	
	<select id="getComment" resultType="qstnComment">
		select rownum, QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				aa.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
   		 from(SELECT rownum, QSTN_CMNT_NO , QSTN_NO,  QC.USER_NO, QSTN_CMNT_CN, QSTN_CMNT_DATE, USER_NM
			FROM QSTN_COMMENT QC, USERS U
			WHERE QC.USER_NO = U.USER_NO
            order by qstn_cmnt_no desc)aa
            where rownum = 1
	</select>
	
	<select id="countComment" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM QSTN_COMMENT WHERE QSTN_NO = #{qstnNo}
	</select>
	
	<insert id="writeComment" parameterType="qstnComment">
		INSERT INTO QSTN_COMMENT VALUES(QSTNCMNTNO_SEQ.NEXTVAL, #{qstnNo}, #{userNo}, #{qstnCmntCn}, SYSDATE)
	</insert>
	
	<update id="updateComment" parameterType="qstnComment">
		UPDATE QSTN_COMMENT set QSTN_CMNT_CN = #{qstnCmntCn}, QSTN_CMNT_DATE = SYSDATE
		WHERE QSTN_CMNT_NO = #{qstnCmntNo}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM QSTN_COMMENT WHERE QSTN_CMNT_NO = #{qstnCmntNp}
	</delete>
	
	<insert id="insertQSTN" parameterType="qstn">
		INSERT INTO QSTN VALUES(QSTNNO_SEQ.NEXTVAL, #{userNo}, #{qstnTtl}, #{qstnCn}, 0, SYSDATE, #{sysNo})
	</insert>
</mapper>