<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.qnaboard.dao.IQnaboardRepository">
	<!-- 
		Q&A질문 목록 조회
		작성자 : 정홍주
	 -->
	<select id="selectQstnList" resultType="qstn" parameterType="qstn">
		SELECT 
		    rnum AS "rnum",
		    QSTN_NO AS 	"qstnNo",
		    QSTN_TTL AS "qstnTtl",
		    QSTN_INQ_CNT AS "qstnInqCnt",
		    QSTN_WRT_DATE AS "qstnWrtDate",
		    QSTN_SECRET AS "qstnSecret",		
		    USER_NO AS "userNo",
		    USER_NM AS "userNm"
		FROM(
			SELECT ROWNUM AS RNUM, QSTN_NO, QSTN_TTL, QSTN_INQ_CNT, QSTN_WRT_DATE, QSTN_SECRET, USER_NO, USER_NM
		        FROM(
		        	SELECT QSTN_NO, QSTN_TTL, QSTN_INQ_CNT, QSTN_WRT_DATE, QSTN_SECRET, QSTN.USER_NO, USER_NM
		         	FROM QSTN, USERS  
		         	WHERE QSTN.USER_NO = USERS.USER_NO  
		         	AND SYS_NO = #{sysNo}
		          	AND QSTN_WRT_DATE BETWEEN 
                		TO_DATE(#{startDate},'YY-MM-DD') 
                		AND TO_DATE(#{endDate},'YY-MM-DD')+0.9
					<if test="qstnTtl != ''">
						AND QSTN_TTL like #{qstnTtl}
					</if>
					
		        	ORDER BY QSTN_NO DESC
		        ) 
		   <![CDATA[
		    where rownum <= #{endRowNo}
		   ]]>
		    )
		<![CDATA[ 
		where rnum >= #{startRowNo}
		]]>
	</select>
	
	<!-- 
		전체 행 조회
		작성자 : 정홍주
	 -->
	<select id="totalRow" parameterType="qstn" resultType="int">
		SELECT COUNT(*) FROM QSTN 	
		WHERE  QSTN_WRT_DATE BETWEEN 
               TO_DATE(#{startDate},'YY-MM-DD') 
               AND TO_DATE(#{endDate},'YY-MM-DD')+1
			  AND SYS_NO = #{sysNo}
		<if test="qstnTtl != ''">
			AND QSTN_TTL like #{qstnTtl}
		</if>
		
		
	</select>
	<!-- 
		Q&A상세보기
		작성자 : 정홍주
	 -->
	<select id="selectDetail" parameterType="int" resultType="qstn">
		SELECT QSTN_NO AS "qstnNo", 
				USER_NM AS "userNm", 
				USERS.USER_NO AS "userNo",
				QSTN_TTL AS "qstnTtl", 
				QSTN_CN AS "qstnCn", 
				QSTN_INQ_CNT AS "qstnInqCnt", 
				QSTN_WRT_DATE AS "qstnWrtDate",
				QSTN_SECRET AS "qstnSecret",
				QSTN.SYS_NO AS "sysNo"
		FROM QSTN, USERS
		WHERE QSTN.USER_NO = USERS.USER_NO AND QSTN.QSTN_NO =#{qstnNo}
	</select>
	
	<select id="selectQstnFileDetail" parameterType="int" resultType="qstnFile">
		SELECT
			QSTN_FILE_NO AS "qstnFileNo",
			QSTN_NO AS "qstnNo",
			QSTN_FILE_PHYS_NM AS "qstnFilePhysNm",
			QSTN_FILE_ACTL_NM AS "qstnFileActlNm",
			QSTN_FILE_EXTN_NM AS "qstnFileExtnNm"
		FROM QSTN_FILE
		WHERE QSTN_NO = #{qstnNo}
	</select>
	
	<!-- 
		첨부파일 조회
		작성자 : 정홍주
	 -->
	<select id="selectFileDownload" parameterType="int" resultType="qstnFile">
		SELECT
			QSTN_FILE_NO AS "qstnFileNo",
			QSTN_NO AS "qstnNo",
			QSTN_FILE_PHYS_NM AS "qstnFilePhysNm",
			QSTN_FILE_ACTL_NM AS "qstnFileActlNm",
			QSTN_FILE_EXTN_NM AS "qstnFileExtnNm"
		FROM QSTN_FILE
		WHERE QSTN_FILE_NO = #{qstnFileNo}
	</select>
	
	<!-- 
		조회수 올리기
		작성자 : 정홍주
	 -->
	<update id="countInqCnt" parameterType="int">
		UPDATE QSTN
		SET QSTN_INQ_CNT = QSTN_INQ_CNT+1
		WHERE QSTN_NO = #{qstnNo} 
		
	</update>
	
	<!-- 
		댓글 목록 불러오기
		작성자 : 정홍주
	 -->
	<select id="selectCommentList" parameterType="int" resultType="qstnComment">
		SELECT QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				QC.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
		FROM QSTN_COMMENT QC, USERS U
		WHERE QC.USER_NO = U.USER_NO AND QC.QSTN_NO = #{qstnNo}
		ORDER BY QSTN_CMNT_NO 
	</select>
	
	<!-- 
		Qna 게시글 작성
		작성자 : 정홍주
	 -->
	<insert id="insertQSTN" parameterType="qstn">
		<selectKey keyProperty="qstnNo" resultType="int" order="BEFORE">
			SELECT QSTNNO_SEQ.nextval FROM dual
		</selectKey>
		INSERT INTO QSTN(QSTN_NO, USER_NO, QSTN_TTL, QSTN_CN, QSTN_INQ_CNT, QSTN_WRT_DATE, SYS_NO, QSTN_SECRET) 
			VALUES(#{qstnNo}, #{userNo}, #{qstnTtl}, #{qstnCn}, 0, SYSDATE, #{sysNo}, #{qstnSecret})
	</insert>
	
	<insert id="insertQstnFileUpload" parameterType="qstnFile">
		<![CDATA[
			INSERT INTO QSTN_FILE(QSTN_FILE_NO, QSTN_NO, QSTN_FILE_PHYS_NM, QSTN_FILE_ACTL_NM, QSTN_FILE_EXTN_NM)
			VALUES(QSTNFILENO_SEQ.NEXTVAL, #{qstnNo}, #{qstnFilePhysNm}, #{qstnFileActlNm}, #{qstnFileExtnNm})
		]]>
	</insert>
	
	<!-- 
		Q&A 게시글 수정
		작성자  : 정홍주
	 -->
	<update id="updateQstn" parameterType="qstn">
		UPDATE QSTN SET QSTN_TTL = #{qstnTtl}, QSTN_CN = #{qstnCn}, QSTN_SECRET = #{qstnSecret}
		WHERE QSTN_NO = #{qstnNo}
	</update>

	<!-- 
		지워진 파일 삭제
		작성자 : 정홍주
	 -->	
	<delete id="deleteExistingFile" parameterType="string">
		DELETE FROM QSTN_FILE
	      WHERE QSTN_FILE_PHYS_NM=#{qstnFilePhysNm}
	</delete>
	
	<!-- 
		Q&A 게시글 삭제
		작성자 : 정홍주
	 -->
	<delete id="deleteQstn" parameterType="int">
		DELETE FROM QSTN WHERE QSTN_NO = #{qstnNo}
	</delete>
	
	<!-- 
		Q&A댓글 조회
		작성자 : 정홍주
	 -->
	<select id="selectComment" resultType="qstnComment">
		select rownum, QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				aa.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
   		 from(SELECT rownum, QSTN_CMNT_NO , QSTN_NO,  QC.USER_NO, QSTN_CMNT_CN, QSTN_CMNT_DATE, USER_NM
			FROM QSTN_COMMENT QC, USERS U
			WHERE QC.USER_NO = U.USER_NO
            order by qstn_cmnt_no desc)aa
            where rownum = 1
	</select>
	
	<!-- 
		댓글 수 세기
		작성자 : 정홍주
	 -->
	<select id="countComment" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM QSTN_COMMENT WHERE QSTN_NO = #{qstnNo}
	</select>
	
	<!-- 
		댓글 작성
		작성자 : 정홍주
	 -->
	<insert id="insertComment" parameterType="qstnComment">
		INSERT INTO QSTN_COMMENT VALUES(QSTNCMNTNO_SEQ.NEXTVAL, #{qstnNo}, #{userNo}, #{qstnCmntCn}, SYSDATE)
	</insert>
	
	<!-- 
		댓글 수정
		작성자 :정홍주
	 -->
	<update id="updateComment" parameterType="qstnComment">
		UPDATE QSTN_COMMENT set QSTN_CMNT_CN = #{qstnCmntCn}, QSTN_CMNT_DATE = SYSDATE
		WHERE QSTN_CMNT_NO = #{qstnCmntNo}
	</update>
	
	<!-- 
		댓글 삭제
		작성자 : 정홍주
	 -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM QSTN_COMMENT WHERE QSTN_CMNT_NO = #{qstnCmntNp}
	</delete>
</mapper>