<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.qnaboard.dao.IQnaboardRepository">
	
	<select id="selectQstnList" resultType="qstn" parameterType="qstn">
		SELECT 
		    rnum AS "rnum",
		    QSTN_NO AS 	"qstnNo",
		    QSTN_TTL AS "qstnTtl",
		    QSTN_INQ_CNT AS "qstnInqCnt",
		    QSTN_WRT_DATE AS "qstnWrtDate",	
		    USER_NO AS "userNo",
		    USER_NM AS "userNm"
		FROM(
			SELECT ROWNUM AS RNUM, QSTN_NO, QSTN_TTL, QSTN_INQ_CNT, QSTN_WRT_DATE, USER_NO, USER_NM
		        FROM(
		        	SELECT QSTN_NO, QSTN_TTL, QSTN_INQ_CNT, QSTN_WRT_DATE, QSTN.USER_NO, USER_NM
		         	FROM QSTN, USERS  
		         	WHERE QSTN.USER_NO = USERS.USER_NO  
		         	AND SYS_NO = #{sysNo}
		          	AND QSTN_WRT_DATE BETWEEN 
                		TO_DATE(#{startDate},'YY-MM-DD') 
                		AND TO_DATE(#{endDate},'YY-MM-DD')+0.9
					<if test="qstnTtl != ''">
						AND QSTN_TTL like #{qstnTtl}
					</if>
		        	ORDER BY QSTN_NO DESC
		        ) 
		   <![CDATA[
		    where rownum <= #{endRowNo}
		   ]]>
		    )
		<![CDATA[ 
		where rnum >= #{startRowNo}
		]]>
	</select>
	
	<select id="totalRow" parameterType="qstn" resultType="int">
		SELECT COUNT(*) FROM QSTN 	
		WHERE SYS_NO=#{sysNo}
		
		 AND QSTN_WRT_DATE BETWEEN 
                TO_DATE(#{startDate},'YY-MM-DD') 
                AND TO_DATE(#{endDate},'YY-MM-DD')+0.9
	
		<if test="qstnTtl != ''">
			AND QSTN_TTL like #{qstnTtl}
			AND SYS_NO = #{sysNo}
		</if>
	</select>
	
	<select id="selectDetail" parameterType="int" resultType="qstn">
		SELECT QSTN_NO AS "qstnNo", 
				USER_NM AS "userNm", 
				QSTN_TTL AS "qstnTtl", 
				QSTN_CN AS "qstnCn", 
				QSTN_INQ_CNT AS "qstnInqCnt", 
				QSTN_WRT_DATE AS "qstnWrtDate"
		FROM QSTN, USERS
		WHERE QSTN.USER_NO = USERS.USER_NO AND QSTN.QSTN_NO =#{qstnNo}
	</select>
	
	<select id="selectQstnFileDetail" parameterType="int" resultType="qstnFile">
		SELECT
			QSTN_FILE_NO AS "qstnFileNo",
			QSTN_NO AS "qstnNo",
			QSTN_FILE_PHYS_NM AS "qstnFilePhysNm",
			QSTN_FILE_ACTL_NM AS "qstnFileActlNm",
			QSTN_FILE_EXTN_NM AS "qstnFileExtnNm"
		FROM QSTN_FILE
		WHERE QSTN_NO = #{qstnNo}
	</select>
	
	<select id="selectFileDownload" parameterType="int" resultType="qstnFile">
		SELECT
			QSTN_FILE_NO AS "qstnFileNo",
			QSTN_NO AS "qstnNo",
			QSTN_FILE_PHYS_NM AS "qstnFilePhysNm",
			QSTN_FILE_ACTL_NM AS "qstnFileActlNm",
			QSTN_FILE_EXTN_NM AS "qstnFileExtnNm"
		FROM QSTN_FILE
		WHERE QSTN_FILE_NO = #{qstnFileNo}
	</select>
	
	<update id="countInqCnt" parameterType="int">
		UPDATE QSTN
		SET QSTN_INQ_CNT = QSTN_INQ_CNT+1
		WHERE QSTN_NO = #{qstnNo} 
		
	</update>
	
	<select id="selectCommentList" parameterType="int" resultType="qstnComment">
		SELECT QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				QC.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
		FROM QSTN_COMMENT QC, USERS U
		WHERE QC.USER_NO = U.USER_NO AND QC.QSTN_NO = #{qstnNo}
		ORDER BY QSTN_CMNT_NO 
	</select>
	<!-- 
		Qna 게시글 작성
	 -->
	<insert id="insertQSTN" parameterType="qstn">
		INSERT INTO QSTN VALUES(QSTNNO_SEQ.NEXTVAL, #{userNo}, #{qstnTtl}, #{qstnCn}, 0, SYSDATE, #{sysNo})
	</insert>
	<insert id="insertQstnFileUpload" parameterType="qstn">
		<![CDATA[
			INSERT INTO QSTN_FILE(QSTN_FILE_NO, QSTN_NO, QSTN_FILE_PHYS_NM, QSTN_FILE_ACTL_NM, QSTN_FILE_EXTN_NM)
			VALUES(QSTNFILENO_SEQ.NEXTVAL, QSTNNO_SEQ.NEXTVAL , #{qstnFilePhysNm}, #{qstnFileActlNm}, #{qstnFileExtnNm})
		]]>
	</insert>
	
	
	<select id="selectComment" resultType="qstnComment">
		select rownum, QSTN_CMNT_NO AS qstnCmntNo, 
				QSTN_NO AS qstnNo, 
				aa.USER_NO AS userNo, 
				QSTN_CMNT_CN AS qstnCmntCn, 
   			 	QSTN_CMNT_DATE AS qstnCmntDate, 
   			 	USER_NM AS userNm
   		 from(SELECT rownum, QSTN_CMNT_NO , QSTN_NO,  QC.USER_NO, QSTN_CMNT_CN, QSTN_CMNT_DATE, USER_NM
			FROM QSTN_COMMENT QC, USERS U
			WHERE QC.USER_NO = U.USER_NO
            order by qstn_cmnt_no desc)aa
            where rownum = 1
	</select>
	
	<select id="countComment" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM QSTN_COMMENT WHERE QSTN_NO = #{qstnNo}
	</select>
	
	<insert id="insertComment" parameterType="qstnComment">
		INSERT INTO QSTN_COMMENT VALUES(QSTNCMNTNO_SEQ.NEXTVAL, #{qstnNo}, #{userNo}, #{qstnCmntCn}, SYSDATE)
	</insert>
	
	<update id="updateComment" parameterType="qstnComment">
		UPDATE QSTN_COMMENT set QSTN_CMNT_CN = #{qstnCmntCn}, QSTN_CMNT_DATE = SYSDATE
		WHERE QSTN_CMNT_NO = #{qstnCmntNo}
	</update>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM QSTN_COMMENT WHERE QSTN_CMNT_NO = #{qstnCmntNp}
	</delete>
</mapper>