<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.request.dao.IRequestRepository">
	
	<select id="selectSysNo" resultType="string" parameterType="int">
		select sys_no as "sysNo" 
		from user_system where cust_no = #{userNo}
	</select>
	

	<select id="selectSysNmList" resultType="system">
		SELECT 
			SYS_NO AS "sysNo",
			SYS_NM AS "sysNm"
		FROM SYSTEM
	</select>


	<select id="selectSrType" resultType="srtype">
		SELECT 
		    SR_TYPE_NO AS "srTypeNo",
		    SR_TYPE_NM AS "srTypeNm"
		FROM SR_TYPE
	</select>
	

	<select id="selectSttsNmList" resultType="srstts">
		SELECT 
		    STTS_NO AS "sttsNo",
		    STTS_NM AS "sttsNm"
		FROM SR_STTS
	</select>
	

	<select id="selectTotalRequestCount" parameterType="requestList" resultType="int">
		SELECT
		    COUNT(SR_NO)
		FROM SR sr, SYSTEM system, SR_STTS stts, USERS users
		where sr.sys_no = system.sys_no
		AND sr.stts_no = stts.stts_no
		AND sr.sr_cust_no = users.user_no
		<if test="srDevDp != 0">
			AND sr.sr_dev_dp LIKE #{srDevDp}
		</if>
		<if test="sysNo != 0">
			AND sr.sys_no = #{sysNo}
		</if>
		<if test="sttsNo != 0">
			AND sr.stts_no = #{sttsNo}
		</if>
	</select>


	<select id="selectRequestList" parameterType="requestAjax" resultType="requestList">
		SELECT
			    SR_NO AS "srNo",
			    SR_TTL AS "srTtl",
			    SYS_NM "sysNm",
			    USER_NM AS "userNm",
			    USER_DP_NM AS "userDpNm",
			    USER_OGDP AS "userOgdp",
			    SR_DEV_DP AS "srDevDp",
			    STTS_NM AS "sttsNm",
			    SR_REG_DATE AS "srRegDate",
			    SR_DDLN_DATE AS "srDdlnDate",
			    SR_PRY AS "srPry",
			    RNUM AS "seq"
			FROM(
			    SELECT
			        SR_NO,
			        SR_TTL,
			        SYS_NM,
			        USER_NM,
			        USER_DP_NM,
			        USER_OGDP,
			        SR_DEV_DP,
			        STTS_NM,
			        SR_REG_DATE,
			        SR_DDLN_DATE,
			        SR_PRY,
			        ROWNUM AS RNUM
			    FROM(
			        SELECT 
			            s.SR_NO,
			            s.SR_TTL,
			            SYS_NM,
			            u.USER_NM,
			            u.USER_DP_NM,
			            u.USER_OGDP,
			            s.SR_DEV_DP,
			            st.STTS_NM,
			            s.SR_REG_DATE,
			            s.SR_DDLN_DATE,
			            s.SR_PRY
			        FROM SR s ,USERS u,  SR_STTS st, SYSTEM sys
       			 	WHERE SR_CUST_NO = u.USER_NO
        			AND s.STTS_NO = st.STTS_NO
        			AND s.SYS_NO = sys.SYS_NO
			       	<if test="sttsNo != 0">
						AND st.stts_no = #{sttsNo}
					</if>
			       	<if test="sysNo != 0">
			       		AND sys.sys_nm = #{sysNo}
			       	</if>
			       
			       	<if test="srDevDp != 0">
			       		AND u.user_dp_nm LIKE #{srDevDp}
			       	</if>
			        ORDER BY s.SR_NO
			    )
			    <![CDATA[
				    WHERE ROWNUM <=#{end}
			    ]]>
			)
			<![CDATA[
				WHERE RNUM >=#{start}
			]]>
	</select>


</mapper>