<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team01.webapp.progress.dao.IProgressRepository">

	<!-- 필터링 업무 구분 조회 -->
	<select id="taskList" resultType="String">
		select STTS_NM
		FROM SR_STTS
	</select>

</mapper>